/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, black, #440000);
}

.mat-mdc-snack-bar-container {
  white-space: pre-line;
}

.mat-mdc-button.custom-button {
  color: white !important;
  background-color: #440000;
  border: 2px solid white;
  border-radius: 12px;
  font-size: medium;
}
