/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, black, #440000);
}

.mat-mdc-snack-bar-container {
  white-space: pre-line;
}

.mat-mdc-button.custom-button {
  color: white !important;
  background-color: #440000;
  border: 2px solid white;
  border-radius: 5px;
  font-size: medium;

  &:disabled {
    opacity: 0.7;
  }
}

.mat-mdc-button.custom-link-button {
  color: white !important;
  padding: 15px;
  font-size: large;
  border-radius: 5px;
  transition: color 0.3s;
  white-space: nowrap;

  &:hover {
    background-color: white !important;
    color: #440000 !important;
  }
}

.custom-secondary-button {
  color: #440000 !important;
  border-radius: 5px !important;
  font-size: small !important;
}

.mat-mdc-form-field {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: unset;
  }
}
