<div class="landing-page-container">
  <a class="landing-page-header" href="/">Auto Marketplace</a>

  <div class="carousel">
    <div class="carousel-track">
      <div class="carousel-item">
        <img src="img/renault-logo.png" alt="renault-logo" />
      </div>
      <div class="carousel-item">
        <img src="img/bmw-logo.png" alt="bmw-logo" />
      </div>
      <div class="carousel-item">
        <img src="img/audi-logo.png" alt="audi-logo" />
      </div>
      <div class="carousel-item">
        <img src="img/tesla-logo.png" alt="tesla-logo" />
      </div>
      <div class="carousel-item">
        <img src="img/peugeot-logo.png" alt="peugeot-logo" />
      </div>
      <div class="carousel-item">
        <img src="img/porsche-logo.png" alt="porsche-logo" />
      </div>
      <div class="carousel-item">
        <img src="img/mercedes-logo.png" alt="mercedes-logo" />
      </div>
      <div class="carousel-item">
        <img src="img/land-rover-logo.png" alt="land-rover-logo-logo" />
      </div>
      <div class="carousel-item">
        <img src="img/jaguar-logo.png" alt="jaguar-logo" />
      </div>
      <div class="carousel-item">
        <img src="img/mazda-logo.png" alt="mazda-logo" />
      </div>
      <div class="carousel-item">
        <img src="img/volvo-logo.png" alt="volvo-logo" />
      </div>
      <div class="carousel-item">
        <img src="img/toyota-logo.png" alt="toyota-logo" />
      </div>
      <div class="carousel-item">
        <img src="img/lexus-logo.png" alt="lexus-logo" />
      </div>
      <div class="carousel-item">
        <img src="img/alfa-romeo-logo.png" alt="alfa-romeo-logo" />
      </div>
    </div>
  </div>

  <div class="button-container">
    <button mat-button class="custom-button">Used and New Cars</button>
    <fa-icon [icon]="faArrowDown"></fa-icon>
  </div>
</div>
