@mixin white-gradient {
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

$animationSpeed: 50s;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-200px * 7));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pulse-glow {
  0% {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5), 0 0 10px #440000 inset;
  }
  100% {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5), 0 0 20px #ff5555 inset;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.landing-page-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  .landing-page-header {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: #440000;
    padding: 20px;
    border: 3px solid #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5), 0 0 10px #440000 inset;
    animation: pulse-glow 2s infinite alternate, slide-in 1s ease-out;
    display: inline-block;
    margin: 40px auto;
    text-decoration: none;
    transform: scale(1.05) rotate(1deg);
    transition: transform 0.4s ease;
  }

  .carousel {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 12px;

    &::before,
    &::after {
      @include white-gradient;
      content: "";
      height: 200px;
      position: absolute;
      width: 150px;
      z-index: 2;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .carousel-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(200px * 14);

      &:hover {
        animation-play-state: paused;
      }

      .carousel-item {
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        background-color: white;

        img {
          max-width: 80%;
          max-height: 80%;
        }

        &:hover {
          transform: scale(1.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 25px rgba(255, 0, 0, 0.5);
          cursor: pointer;
        }
      }
    }
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    fa-icon {
      color: white;
      margin-top: 5px;
      font-size: 1.5em;
    }
  }
}

@media (max-width: 768px) {
  .landing-page-header {
    font-size: 1.5rem !important;
  }

  .carousel {
    height: 150px !important;

    &::before,
    &::after {
      height: 150px !important;
      width: 100px !important;
    }

    .carousel-track {
      width: calc(150px * 14) !important;

      .carousel-item {
        width: 150px !important;
        height: 150px !important;
      }
    }
  }
}
