<div class="register-container">
  <mat-card>
    <mat-card-header>Sign up</mat-card-header>
    <mat-card-content>
      <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="row">
          <mat-form-field class="half-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            @if (hasError(registerForm.controls['email'], 'email')) {
              <mat-error>Please enter a valid email address.</mat-error>
            }
            @if (hasError(registerForm.controls['email'], 'required')) {
              <mat-error>Email is <strong>required.</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="half-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            @if (hasError(registerForm.controls['name'], 'required')) {
              <mat-error>Name is <strong>required.</strong></mat-error>
            }
          </mat-form-field>
          <mat-form-field class="half-width">
            <mat-label>Surname</mat-label>
            <input matInput formControlName="surname">
            @if (hasError(registerForm.controls['surname'], 'required')) {
              <mat-error>Surname is <strong>required.</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field>
            <mat-label>Phone number</mat-label>
            <input matInput type="tel" formControlName="phoneNumber">
            @if (hasError(registerForm.controls['phoneNumber'], 'required')) {
              <mat-error>Password is <strong>required.</strong></mat-error>
            }
            @if (hasError(registerForm.controls['phoneNumber'], 'invalidPhoneNumber')) {
              <mat-error>The phone number is invalid (example: <strong>+123 456 7890</strong>).</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="half-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            @if (hasError(registerForm.controls['password'], 'required')) {
              <mat-error>Password is <strong>required.</strong></mat-error>
            }
            @if (hasError(registerForm.controls['password'], 'passwordsMismatch')) {
              <mat-error>Password do not match.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="half-width">
            <mat-label>Repeat password</mat-label>
            <input matInput type="password" formControlName="repeatPassword">
            @if (hasError(registerForm.controls['repeatPassword'], 'required')) {
              <mat-error>Repeat password is <strong>required.</strong></mat-error>
            }
            @if (hasError(registerForm.controls['repeatPassword'], 'passwordsMismatch')) {
              <mat-error>Password do not match.</mat-error>
            }
          </mat-form-field>
        </div>
        <button mat-button class="custom-button" type="submit" [disabled]="isRegisterButtonDisabled()">Register</button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="additional-buttons">
        <button mat-button class="custom-secondary-button">Signin</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
