.header-container {
  display: flex;
  padding: 5px 0;
  align-items: center;
  justify-content: space-between;

  .header-item {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;

    &.logo-item {
      width: 200px;
    }

    &.links-container {
      flex: 1;
      margin-left: 10px;

      .fast-tabs-container {
        display: flex;
        gap: 10px;
      }

      .actions-container {
        .user-image-container {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;

          img {
            border-radius: 50%;
          }
        }
      }
    }

    &.hamburger-container {
      display: none;

      label {
        cursor: pointer;
      }

      .hamburger {
        width: 30px;
        height: 30px;
        position: relative;

        .bar {
          padding: 0;
          width: 30px;
          height: 4px;
          background-color: white;
          display: block;
          border-radius: 4px;
          transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
          position: absolute;

          &.bar1 {
            top: 0;
          }

          &.bar2 {
            top: 13.5px;
            width: 1px;
            transform: rotate(90deg);
            left: 13.5px;
          }

          &.bar3 {
            top: 13.5px;
          }

          &.bar3 {
            right: 0;
            width: 1px;
            left: 13.5px;
          }

          &.bar4 {
            top: 13.5px;
            bottom: 0;
          }

          &.bar5 {
            bottom: 0;
          }
        }
      }

      .checkbox {
        &.visually-hidden {
          display: none;
        }

        &:checked + label > .hamburger {
          > .bar1 {
            top: 13.5px;
            background-color: transparent;
          }

          > .bar2 {
            left: 0;
            width: 30px;
            transform: rotate(45deg);
          }

          > .bar3 {
            left: 0;
            width: 30px;
            transform: rotate(-45deg);
          }

          > .bar4 {
            background-color: transparent;
          }

          > .bar5{
            bottom: 13.5px;
            background-color: transparent;
          }
        }
      }
    }

    &.mobile-view {
      display: none;

      .user-image-container {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        img {
          border-radius: 50%;
        }
      }
    }
  }

  .mobile-view {
    display: none;
  }
}

.menu-container {
  display: none;
  justify-content: space-between;

  .general-menu-buttons {
    display: none;
    flex-direction: column;
    align-items: flex-start;

    .mat-mdc-button.custom-link-button fa-icon {
      margin-left: 5px;
    }
  }

  .user-menu-buttons {
    display: none;
    flex-direction: column;
    align-items: flex-end;

    .mat-mdc-button.custom-link-button fa-icon {
      margin-right: 5px;
    }

    .user-name {
      color: white;
      font-weight: 500;
      padding: 10px;
    }
  }

  &.active-general-menu {
    display: flex;

    .general-menu-buttons {
      display: flex;
    }
  }

  &.active-user-menu {
    display: flex;
    flex-direction: column-reverse;

    .user-menu-buttons {
      display: flex;
    }
  }

  &.active-general-menu.active-user-menu {
    flex-direction: unset;
  }
}

@media screen and (max-width: 1024px) {
  .header-container {
    .mobile-view {
      display: flex;
    }

    .header-item {
      &.links-container {
        display: none;
      }

      &.hamburger-container {
        display: flex;
      }

      &.mobile-view {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 512px) {
  .custom-link-button {
    font-size: small;
  }

  .user-name {
    font-size: small;
    text-align: end;
    word-break: break-all;
  }
}
